@import url('style.css');
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
    border: 1px solid black;
}
.text_center{
    text-align: center;
}
img{
    display: inline;
    vertical-align: middle;
    width: 250px;
}

ul{
    padding: 1%;
}